body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
}

#game{
  border: solid 1px black;
  background-color: slategray;
}

#board{
  margin: 5px;
}

/* game board table */

#board td {
  width: 75px;
  height: 75px;
  border: solid 1px black;
  border-radius: 5px;
  /* position: relative; */
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  /* position: absolute;
  left: 0%;
  top: 0%; */
  transition: top .5s;
  -moz-transition: top .5s;
  -webkit-transition: top .5s;
  -o-transition: top .5s;
  display: block;
}


/* TODO: make pieces red/blue,  depending on player 1/2 piece */

.player1 {
  background-color: rgb(245, 48, 48);
  border: solid 1px black;
}

.player2 {
  background-color: rgb(82, 82, 236);
  border: solid 1px black;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: rgb(221, 212, 162);
  opacity: .5;
}

